/*backgroun of body*/
body {
    background: url('http://thecodeplayer.com/u/m/b1.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Lato", sans-serif;
}

/*navbar lateral*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    /*transition: 0.5s;*/
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    /*transition: 0.3s;*/
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

h1, h2, a {
    color: #FFFFFF;
}

/*clock*/

.clock{
    font-size: 200%; 
    color: red;
    text-align: center;
    align-content: center;
}

.myCard{
    height: 200px;
    width: 200px;
    border: #FFFFFF;
    border-style: solid;
    border-width: 6px;
}

.myCard:hover{
    background-color: #818181;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.cardText{
    text-align: center;
    color: #FFFFFF
}

.icone{
    color: #FFFFFF;
    text-align: center;
    font-size: 70px;
    padding-left: 65px;
    padding-top: 25px;
}


.grow { 
    transition: all .2s ease-in-out; 
}
     
.grow:hover { 
    transform: scale(1.1); 
}

.teste{
    padding-top: 15%;
}

.coluna{

    padding-left: 5%;
    padding-bottom: 7%;
    padding-top: 7%;
}