{% extends "base.html" %}

{% block title %}
    Medicamentos
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Módulo</th>
                <th scope="col">Medicamento</th>
            </tr>
        </thead>
        <tbody>
        {% for medicine in medicines %}
        <td>
            <li>{{medicine.slot}}</li>
        </td>
        <td>
        <a href="{% url 'details_medicines' medicine.id %}">
            <li>{{ medicine.name }}</li>
        </a>
        </td>
        </tbody>
    {% endfor %}
    </table>
    <a href="{% url 'create_medicine' %}" class="btn btn-info" style="text-align: center" aria-hidden="true">
        Novo Medicamento
    </a>

{% endblock %}