{% extends "base.html" %}
{% block title %}
    Medicamentos
{% endblock %}
{% block body %}

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:800px">
        
        <div class="med-container">
            <h3 class="w3-border-bottom w3-border-cyan w3-padding-32"></h3>
        
            <!-- TABLE vusialization Section -->
            <p>                  
                <div class="bg-search text-center">
        
                <h1 class= w3-text-white>Medicamentos</h1>
                    <table>
                        <tr>
                            <th class= w3-text-white>Medicamento</th>    
                            <th class= w3-text-white>Quantidade</th>    
                            <th class= w3-text-white>Horário inicial</th>    
                            <th class= w3-text-white>Intervalo</th>    
                        </tr>
                        {% for medicine in medicines %}
                            <tr>
                                <th>{{ medicine.name }}</th>
                                <th>{{ medicine.amount }}</th>
                                <th>{{ medicine.initial_time }}</th>
                                <th>{{ medicine.interval }}</th>
                            </tr>
                        {% endfor %}    
                        
                    </table>  
                <br>
                <br>
                </div>
            </p>
            </div>
              
<!-- end of Page content -->
    </div> 
    
{% endblock %}   
