{% extends "base.html" %}
{% block title %}
    Medicamentos
{% endblock %}
{% block body %}
    <h1>Medicamentos</h1>
    <table>
        <tr>
            <th>Medicamento</th>    
            <th>Quantidade</th>    
            <th>Horário inicial</th>    
            <th>Intervalo</th>    
        </tr>
        {% for medicine in medicines %}
            <tr>
                <th>{{ medicine.name }}</th>
                <th>{{ medicine.amount }}</th>
                <th>{{ medicine.initial_time }}</th>
                <th>{{ medicine.interval }}</th>
            </tr>
        {% endfor %}    
        
    </table>    
{% endblock %}