{% extends "base.html" %}
{% block title %}
    Detalhes do Medicamento
{% endblock %}

{% block body %}
    <div>
        <h3>
            {{ medicine.name }}
        </h3>

        <p> Quantidade: </p>
        <p>{{ medicine.amount }}</p>
        <hr>
        <p> Horario de Inicio: </p>
        <p>{{ medicine.initial_time }}</p>
        <hr>
        <p> Intervalo: </p>
        <p>{{ medicine.interval }}</p>
        <hr>
        <p> Limite: </p>
        <p>{{ medicine.limit }}</p>
        <hr>
        <p> Status: </p>
        <p>{{ medicine.status }}</p>
        <hr>

        <a href="{% url 'update_medicine' medicine.id %}" class="btn btn-primary" aria-hidden="true">
            Alterar
        </a>
        <a href="{% url 'delete_medicine' medicine.id %}" class="btn btn-danger" aria-hidden="true">
            Excluir
        </a>
    </div>


{% endblock %}
