{% extends "base.html" %}

{% block title %}
    {% if medicine %}
        Atualizar Medicamento
    {% else %}
        Novo Medicamento
    {% endif %}
{% endblock %}

{% block body %}
    {% if medicine %}
        <h1>Atualizar Medicamento</h1>
    {% else %}
        <h1>Novo Medicamento</h1>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success" >Salvar</button>
    </form> 
       
        {% if medicine %}
            <a href="{% url 'delete_medicine' medicine.id %}" class="btn btn-danger" aria-hidden="true"">     Deletar
            </a>
        {% endif %}

    </form>

{% endblock %}