{% extends "base.html" %}

{% block title %}
    Módulos
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope ='col'>Módulo</th>
            </tr>
        </thead>
        <tbody>
        {% for slot in slots %}
        <td>
        <a href="{% url 'update_slot' slot.id %}">
            <li>Módulo {{ slot.number }}</li>
        </a>
        </td>
        </tbody>
        {% endfor %}
    </table>
    <a href="{% url 'create_slot' %}" class="btn btn-info" aria-hidden="true">
            Novo Módulo
    </a>
    
{% endblock %}